{% extends "base_generic.html" %}
<!-- Add additional CSS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% load static %}
<img src="{% static 'catalog/images/local_library_model_uml.png' %}" alt="UML diagram" style="width:555px;height:540px;">

{% block content %}
  <div class="jumbotron jumbotron-fluid my-4">
    <div class="container">
      <h1 class="display-4">HRS Home</h1>
      <p class="lead">Welcome to Hotel Recommendation system.</br> A website developed by <em>Jaskirat Singh, Pamila Viswanathan and Samarth Patel</p>
    </div>
  </div>
  <h2>Project MM802</h2>
<div>
  {% load static %} <img src="{% static 'images/vacation.jpeg' %}" alt="HotelImage" />
</div>

{% endblock %}